@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Righteous:regular);

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container-header {
  background: #1e2326;
}

.container-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.container-header header .logo a {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 12ch;
  font-family: "Righteous";
  font-size: 36px;
  color: brown;
  text-decoration: none;

  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container-header header ul {
  display: flex;
  list-style: none;
}

.container-header header nav ul li a {
  text-align: none;
  color: white;
  margin: 0 15px;
  padding: 3px;
  transition: 0.3s;
  text-decoration: none;
}

.container-header header nav ul li a:hover {
  color: brown;
  transform: rotateY(360deg);
}

.btn-responsive {
  background-color: brown;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

/*  */

.section-banner {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.692),
      rgba(30, 35, 38, 0.842)
    ),
    url(img/home-bg.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
}

.section-banner .container-banner {
  padding: 20px;
  background-color: #1a1f22;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  transition: all 0.5s;
}
.card:hover {
  box-shadow: 0 20px 70px rgba(182, 79, 75, 0.658);
}

.card .img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 100%;
}

.card h2 {
  padding-top: 3px;
  font-size: 20px;
  color: #262626;
}

.card span {
  font-size: 14px;
  background: brown;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}

.card ul {
  padding: 8px;
}

.card ul li {
  margin: 20px 0;
  list-style: none;
  display: inline-block;
}
.card ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(148, 147, 147);
  margin: 0 10px;
  font-size: 19px;
  transition: all 0.7s;
  line-height: 42px;
}

.card ul li a:hover {
  color: brown;
  transform: rotateY(360deg);
}
/* --------------------------- */

/* ABOUTME */

.aboutme {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}

.aboutme .content-aboutme {
  max-width: 1100px;
  margin: auto;
}

.aboutme h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px;
}

.aboutme .content-aboutme p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.aboutme .content-aboutme p span {
  color: brown;
  font-weight: bold;
}
.aboutme .row {
  display: flex;
}
.aboutme .row .col {
  width: 50%;
}
.aboutme .row .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}

.aboutme .row .col ul {
  list-style: none;
}

.aboutme .row .col ul li {
  margin: 12px 0;
}

.aboutme .row .col ul li strong {
  display: inline-block;
  color: brown;
  font-weight: bold;
  border-radius: 5px;
}

.aboutme .row .col .container-interests {
  display: flex;
  flex-wrap: wrap;
}

.aboutme .row .col .container-interests .interests {
  width: 100px;
  height: 100px;
  background-color: #252a2e;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
/* .aboutme .row .col .container-interests .interests i */
.aboutme .row .col .container-interests .interests:hover{
    /* background-color: brown; */
    box-shadow: 0 10px 50px rgba(211, 93, 89, 0.5);
}

/* .aboutme .row .col .container-interests .interests i:hover {
  color: #fff;
} */

.aboutme .row .col .container-interests .interests i {
  color: brown;
  font-size: 30px;
  margin-bottom: 10px;
}

.aboutme button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid brown;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.aboutme button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: brown;
  z-index: -1;
  transition: 1s;
}

.aboutme button:hover .overlay {
  width: 100%;
}
/* p span {
  background-color: none;
} */
